!!!5
html
  head
    title 404 Not Found - Alick.me
    link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .centering
      img(src='/images/meow-404.jpg')
