doctype html
html
  head
    title Error - Alick.me
    link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .centering
      p Error: #{error.message}
