// vim: set et sw=2 ai:
extend layout
block content
  h2 关于我
  p
    | 我是赵涛，河南许昌人。现为德州 A&amp;M 大学博士研究生，从事网络领域研究。
    | 爱好开源技术（网站开发、系统管理、程序设计等）以及其背后的开放协作文化，
    | 是一名 
    a(href='https://fedoraproject.org/wiki/User:Alick') Fedora 社区贡献者
    | 。
  h3 联系方式
  ul
    li 优先邮箱：alick NOSPACE 9188 AT GMAIL dot com
    li
      | 社交网站（参见
      a(href='/') #{__("Homepage")}
      |）
    li IRC、XMPP 等即时聊天工具
  h2 关于本站
  p
    | 本站是之前挂靠在清华大学网络学堂下的个人主页的后继。没有了纯静态页面的限制，本站使用 Node.js,
    | Express, Jade, Stylus 等搭建。
    | 如无特殊声明，本站内容以
    a(href='http://creativecommons.org/licenses/by-sa/4.0/deed.zh', title='署名-相同方式共享 4.0') CC BY-SA 4.0
    | 许可授权自由使用。
  h3 域名 Alick.me
  p
    | Alick 是我初二时从字典里附录中挑出来的英文名，沿用至今。me 是
    a(href='http://en.wikipedia.org/wiki/.me') 黑山
    | 这个国家的顶级域名，目前在被各种人滥用。Alick.me 购自
    a(href='http://www.godaddy.com/') Godaddy
    | 。
  h3 主要变更
  ul
    li 2015-10-18 引入 Bootstrap。
    li 2015-10-05 Express 从 3.x 迁移到 4.x。
    li 2014-08-05 网站迁移到 OpenShift PaaS 平台，实质托管在 Amazon AWS。
