// vim: set et sw=2 ai:
extend layout
block content
  h2 关于我
  p
    | 我是赵涛，河南许昌人，现为清华大学电子系硕士研究生，在
    a(href='http://network.ee.tsinghua.edu.cn/niulab/') 网络融合实验室
    | 从事无线通信领域研究。爱好开源技术，包括网站开发、系统管理、程序设计等。
    | 喜欢开源开放文化，现为
    a(href='https://fedoraproject.org/wiki/User:Alick') Fedora 社区贡献者
    | 一枚、
    a(href='http://mirrors.tuna.tsinghua.edu.cn/') 清华大学开源镜像
    | 维护者之一、
    a(href='http://tuna.tsinghua.edu.cn/') 清华大学学生网管会
    | 成员一名。
  h3 联系方式
  ul
    li 优先邮箱：alick NOSPACE 9188 AT GMAIL dot com
    li
      | 在
      a(href='/surf') 导航
      | 页面可以找到一些社交网络站点上的联系方式。
  h2 关于 Alick.me
  p
    | Alick 是我的英文名，是初二时从字典里附录中挑出来的。me 是
    a(href='http://en.wikipedia.org/wiki/.me') 黑山
    | 这个国家的顶级域名，目前在被各种人滥用。Alick.me 购自
    a(href='http://www.godaddy.com/') Godaddy
    | 。
  h2 关于本站
  p
    | 本站是之前挂靠在网络学堂下的个人主页的后继。没有了纯静态页面的限制，本站使用 Node.js,
    | Express, Jade, Stylus 等搭建。
    | 如无特殊声明，本站内容以
    a(href='http://creativecommons.org/licenses/by-sa/3.0/deed.zh', title='署名-相同方式共享 3.0') CC BY-SA 3.0
    | 许可授权自由使用。
  h3 主要变更
  ul
    li 2015-10-18 引入 Bootstrap。
    li 2015-10-05 Express 从 3.x 迁移到 4.x。
    li 2014-08-05 网站迁移到 OpenShift PaaS 平台，实质托管在 Amazon AWS。
