li
  #zhao2019nice.bibitem(data-reftype="phdthesis")
    span.bibitem-author-emph Tao Zhao
    | , "Networking at Information Centric Edge," 2019.
    a(href="https://oaktrust.library.tamu.edu/bitstream/handle/1969.1/186455/ZHAO-DISSERTATION-2019.pdf?sequence=1&isAllowed=y") PDF
    button.btn.btn-default.btn-xs.bibbtn(type="button") BibTeX
  #bib_zhao2019nice.bibtex.noshow
    pre.bib
      | @PhDThesis{zhao2019nice,
      |   author  = {Zhao, Tao},
      |   title   = {Networking at Information Centric Edge},
      |   year    = {2019},
      | }
li
  #deng2019online.bibitem(data-reftype="Article")
    | Han Deng,
    | 
    span.bibitem-author-emph Tao Zhao
    | , and I-Hong Hou, "Online Routing and Scheduling With Capacity Redundancy for Timely Delivery Guarantees in Multihop Networks,"
    | 
    span.bibitem-journal IEEE/ACM Trans. Netw.,
    | 2019.
    a(href="http://dx.doi.org/10.1109/TNET.2019.2917393") DOI
    | 
    a(href="http://cesg.tamu.edu/wp-content/uploads/2012/08/Hou_ToN_2019_06.pdf") PDF
    button.btn.btn-default.btn-xs.bibbtn(type="button") BibTeX
  #bib_deng2019online.bibtex.noshow
    pre.bib
      | @Article{deng2019online,
      |   author  = {Deng, Han and Zhao, Tao and Hou, I-Hong},
      |   title   = {Online Routing and Scheduling With Capacity Redundancy for Timely Delivery Guarantees in Multihop Networks},
      |   journal = IEEE_J_NET,
      |   year    = {2019},
      |   volume  = {27},
      |   number  = {3},
      |   pages   = {1258--1271},
      |   month   = jun,
      |   doi     = {10.1109/TNET.2019.2917393},
      | }
li
  #sasikumar2019cache.bibitem(data-reftype="InProceedings")
    | Archana Sasikumar,
    | 
    span.bibitem-author-emph Tao Zhao
    | , I-Hong Hou, and Srinivas Shakkottai, "Cache-Version Selection and Content Placement for Adaptive Video Streaming in Wireless Edge Networks,"
    | 
    span.bibitem-inproceedings 2019 17th Int. Symp. Modeling and Optimization in Mobile, Ad Hoc, and Wireless Networks (WiOpt '19), 2019.
    | 
    a(href="https://arxiv.org/abs/1903.12164") arXiv
    button.btn.btn-default.btn-xs.bibbtn(type="button") BibTeX
  #bib_zhao2018efficient.bibtex.noshow
    pre.bib
      | @InProceedings{sasikumar2019cache,
      |   author      = {Archana Sasikumar and Tao Zhao and I-Hong Hou and Srinivas Shakkottai},
      |   title       = {Cache-Version Selection and Content Placement for Adaptive Video Streaming in Wireless Edge Networks},
      |   booktitle   = {2019 17th Int. Symp. Modeling and Optimization in Mobile, Ad Hoc, and Wireless Networks (WiOpt '19)},
      |   year        = {2019},
      |   address     = {Avignon, France},
      |   month       = jun,
      |   url         = {https://arxiv.org/abs/1903.12164},
      | }
li
  #zhao2018efficient.bibitem(data-reftype="Article")
    span.bibitem-author-emph Tao Zhao
    | , I-Hong Hou, Korok Ray, and Jyhwen Wang, "An efficient revenue distribution method in a cyber-enabled manufacturing system,"
    | 
    span.bibitem-journal Manufacturing Letters, 2018.
    | 
    a(href="10.1016/j.mfglet.2018.06.001") DOI
    | 
    a(href="https://www.sciencedirect.com/science/article/pii/S221384631830021X") PDF
    button.btn.btn-default.btn-xs.bibbtn(type="button") BibTeX
  #bib_zhao2018efficient.bibtex.noshow
    pre.bib
      | @Article{zhao2018efficient,
      |   author   = {Tao Zhao and I-Hong Hou and V. Jorge Leon and Korok Ray and Jyhwen Wang},
      |   title    = {An Efficient Revenue Distribution Method in A Cyber-Enabled Manufacturing System},
      |   journal  = {Manufacturing Letters},
      |   year     = {2018},
      |   issn     = {2213-8463},
      |   doi      = {10.1016/j.mfglet.2018.06.001},
      |   keywords = {Cyber-enabled manufacturing, Revenue distribution, Game theory},
      | }
li
  #zhao2018redled.bibitem(data-reftype="Article")
    span.bibitem-author-emph Tao Zhao
    | , I-Hong Hou, Shiqiang Wang, and Kevin S. Chan, "
    | 
    span(style="font-variant: small-caps") ReD/LeD
    | : An Asymptotically Optimal and Scalable Online Algorithm for Service Caching at the Edge,"
    | 
    span.bibitem-journal IEEE J. Sel. Areas Commun., 2018.
    | 
    a(href="https://doi.org/10.1109/JSAC.2018.2844919") DOI
    | 
    a(href="http://cesg.tamu.edu/wp-content/uploads/2012/08/Hou_JSAC_2018_06.pdf") PDF
    button.btn.btn-default.btn-xs.bibbtn(type="button") BibTeX
  #bib_zhao2018redled.bibtex.noshow
    pre.bib
      | @article{zhao2018redled,
      |   author = {Tao Zhao and I-Hong Hou and Shiqiang Wang and Kevin S. Chan},
      |   title = {\textsc{ReD/LeD}: An Asymptotically Optimal and Scalable Online Algorithm for Service Caching at the Edge},
      |   journal = IEEE_J_JSAC,
      |   year = {2018},
      |   doi = {10.1109/JSAC.2018.2844919}
      | }
li
  #zhao2018eca.bibitem(data-reftype="Article")
    span.bibitem-author-emph Tao Zhao
    | , Korok Ray, and I-Hong Hou, "A Non-Monetary Mechanism for Optimal Rate Control Through Efficient Cost Allocation,"
    | 
    span.bibitem-journal IEEE/ACM Trans. Netw., 2018.
    | 
    a(href="http://dx.doi.org/10.1109/TNET.2018.2826457") DOI
    | 
    a(href="http://cesg.tamu.edu/wp-content/uploads/2012/08/Hou_ToN_2018_04.pdf") PDF
    button.btn.btn-default.btn-xs.bibbtn(type="button") BibTeX
  #bib_zhao2018eca.bibtex.noshow
    pre.bib
      | @Article{zhao2018eca,
      |   author  = {Tao Zhao and Korok Ray and I-Hong Hou},
      |   title   = {A Non-Monetary Mechanism for Optimal Rate Control Through Efficient Cost Allocation},
      |   journal = IEEE_J_NET,
      |   year    = {2018},
      |   doi     = {10.1109/TNET.2018.2826457},
      | }
li
  #zhao2017eda.bibitem(data-reftype="InProceedings")
    span.bibitem-author-emph Tao Zhao
    | , Korok Ray, and I-Hong Hou, "A Non-Monetary Mechanism for Optimal Rate Control Through Efficient Delay Allocation," in
    | 
    span.bibitem-inproceedings 2017 15th Int. Symp. Modeling and Optimization in Mobile, Ad Hoc, and Wireless Networks (WiOpt'17), Paris, France, May 2017.
    | 
    span.bibitem-award Best Student Paper. Student travel grant.
    | 
    a(href="http://cesg.tamu.edu/wp-content/uploads/2012/08/hou-wiopt2017.pdf") PDF
    | 
    a(href="zhao2017eda-slides.pdf") slides
    button.btn.btn-default.btn-xs.bibbtn(type="button") BibTeX
  #bib_zhao2017eda.bibtex.noshow
    pre.bib
      | @InProceedings{zhao2017eda,
      |   title                    = {A Non-Monetary Mechanism for Optimal Rate Control Through Efficient Delay Allocation},
      |   author                   = {Tao Zhao and Korok Ray and I-Hong Hou},
      |   booktitle                = {2017 15th Int. Symp. Modeling and Optimization in Mobile, Ad Hoc, and Wireless Networks (WiOpt'17)},
      |   year                     = {2017},
      |   address                  = {Paris, France},
      |   month                    = may,
      | }
li
  #zhou2017toward.bibitem(data-reftype="InBook")
    | Sheng Zhou, Jingchu Liu,
    | 
    span.bibitem-author-emph Tao Zhao
    | , and Zhisheng Niu,
    | 
    span.bibitem-inbook Toward Green Deployment and Operation for C-RANs, Cambridge University Press, Feb. 2017, ch. 14, pp. 347–376.
    | 
    a(href="http://dx.doi.org/10.1017/9781316529669.016") DOI
    button.btn.btn-default.btn-xs.bibbtn(type="button") BibTeX
  #bib_zhou2017toward.bibtex.noshow
    pre.bib
      | @InBook{zhou2017toward,
      |   title                    = {Toward Green Deployment and Operation for {C-RAN}s},
      |   author                   = {Zhou, Sheng and Liu, Jingchu and Zhao, Tao and Niu, Zhisheng},
      |   chapter                  = {14},
      |   editor                   = {Quek, Tony Q. S. and Peng, Mugen and Simeone, Osvaldo and Yu, Wei},
      |   pages                    = {347--376},
      |   publisher                = {Cambridge University Press},
      |   year                     = {2017},
      |   month                    = {Feb},
      |   booktitle                = {Cloud Radio Access Networks: Principles, Technologies, and Applications},
      |   doi                      = {10.1017/9781316529669.016},
      |   place                    = {Cambridge}
      | }
li
  #hou2016asymptotically.bibitem(data-reftype="InProceedings")
    | I-Hong Hou,
    | 
    span.bibitem-author-emph Tao Zhao
    | , Shiqiang Wang, and Kevin Chan, "Asymptotically Optimal Algorithm for Online Reconfiguration of Edge-Clouds," in
    | 
    span.bibitem-inproceedings Proc. 17th ACM Int. Symp. Mobile Ad Hoc Networking and Computing (MobiHoc'16), Paderborn, Germany, Jul. 2016, pp. 291–300.
    | 
    a(href="http://dx.doi.org/10.1145/2942358.2942363") DOI
    | 
    a(href="http://dl.acm.org/authorize?N17312") PDF
    button.btn.btn-default.btn-xs.bibbtn(type="button") BibTeX
  #bib_hou2016asymptotically.bibtex.noshow
    pre.bib
      | @InProceedings{hou2016asymptotically,
      |   title                    = {Asymptotically Optimal Algorithm for Online Reconfiguration of Edge-Clouds},
      |   author                   = {I-Hong Hou and Tao Zhao and Shiqiang Wang and Kevin S. Chan},
      |   booktitle                = {Proc. 17th ACM Int. Symp. Mobile Ad Hoc Networking and Computing (MobiHoc'16)},
      |   year                     = {2016},
      |   address                  = {Paderborn, Germany},
      |   month                    = jul,
      |   pages                    = {291--300},
      |   doi                      = {10.1145/2942358.2942363},
      | }
li
  #zhao2018cellular.bibitem(data-reftype="Patent")
    span.bibitem-author-emph Tao Zhao
    | , Miao Jiang, Lu Geng, Meng Zheng, Sheng Zhou, and Zhisheng Niu, "Cellular network synchronization methods and apparatus under separation architecture," U.S. patent 9 942 867 B2, Apr. 10, 2018.
    button.btn.btn-default.btn-xs.bibbtn(type="button") BibTeX
  #bib_zhao2018cellular.bibtex.noshow
    pre.bib
      | @Patent{zhao2018cellular,
      |   nationality = {U.S.},
      |   number      = {9942867B2},
      |   yearfiled   = {2018},
      |   author      = {Zhao, Tao and Jiang, Miao and Geng, Lu and Zheng, Meng and Zhou, Sheng and Niu, Zhisheng},
      |   title       = {CELLULAR NETWORK SYNCHRONIZATION METHODS AND APPARATUS UNDER SEPARATION ARCHITECTURE},
      |   assignee    = {HITACHI, LTD.},
      |   type        = {patent},
      |   dayfiled    = {10},
      |   monthfiled  = apr,
      | }
li
  #zhou2016sdhca.bibitem(data-reftype="Article")
    | Sheng Zhou,
    | 
    span.bibitem-author-emph Tao Zhao
    | , Zhisheng Niu, and Shidong Zhou, "Software-Defined Hyper-Cellular Architecture for Green and Elastic Wireless Access,"
    | 
    span.bibitem-journal IEEE Commun. Mag.,
    | vol. 54, no. 1, pp. 12–19, Jan. 2016.
    | 
    a(href="http://dx.doi.org/10.1109/MCOM.2016.7378420") DOI
    | 
    a(href="http://arxiv.org/abs/1512.04935") arXiv
    button.btn.btn-default.btn-xs.bibbtn(type="button") BibTeX
  #bib_zhou2016sdhca.bibtex.noshow
    pre.bib
      | @article{zhou2016sdhca,
      |   title                    = {Software-Defined Hyper-Cellular Architecture for Green and Elastic Wireless Access},
      |   author                   = {Sheng Zhou and Tao Zhao and Zhisheng Niu and Shidong Zhou},
      |   journal                  = IEEE_M_COM,
      |   year                     = {2016},
      |   month                    = jan,
      |   number                   = {1},
      |   pages                    = {12--19},
      |   volume                   = {54},
      |   doi                      = {10.1109/MCOM.2016.7378420},
      |   issn                     = {0163-6804},
      |   keywords                 = {Base stations;Cloud computing;Communication channels;Computer architecture;Control systems;Mobile communication;Software defined networking},
      | }
li
  #zhao2015hycell.bibitem(data-reftype="InProceedings")
    span.bibitem-author-emph Tao Zhao
    | , Liumeng Wang, Xi Zheng, Sheng Zhou, and Zhisheng Niu, "HyCell: Enabling GREEN Base Station Operations in Software-Defined Radio Access Networks," in
    | 
    span.bibitem-inproceedings IEEE ICC 2015 Workshop Next Generation Green ICT, London, United Kingdom, Jun. 2015.
    | 
    a(href="https://dx.doi.org/10.1109/ICCW.2015.7247614") DOI
    | 
    a(href="http://arxiv.org/abs/1503.06264") arXiv
    | 
    a(href="http://network.ee.tsinghua.edu.cn/niulab/wp-content/uploads/2015/10/hycell-cameraready.pdf") PDF
    | 
    a(href="http://network.ee.tsinghua.edu.cn/niulab/wp-content/uploads/2015/10/zhaotao-slides-icc2015.pdf") slides
    button.btn.btn-default.btn-xs.bibbtn(type="button") BibTeX
  #bib_zhao2015hycell.bibtex.noshow
    pre.bib
      | @inproceedings{zhao2015hycell,
      |   author = {Tao Zhao and Liumeng Wang and Xi Zheng and Sheng Zhou and Zhisheng
      |  Niu},
      |   title = {{H}y{C}ell: Enabling {GREEN} Base Station Operations in Software-Defined
      |  Radio Access Networks},
      |   booktitle = {IEEE ICC 2015 Workshop Next Generation Green ICT},
      |   year = {2015},
      |   pages = {2868--2873},
      |   address = {London, United Kingdom},
      |   month = jun,
      |   doi = {10.1109/ICCW.2015.7247614},
      | }
li
  #zhao2015mthesis.bibitem(data-reftype="phdthesis")
    | 赵涛. 云架构下虚拟基站的高能效资源分配[D]. 北京: 清华大学, 2015.
    a(href="zhao2015mthesis.pdf") PDF
li
  #liu2014concert.bibitem(data-reftype="Article")
    | Jingchu Liu,
    | 
    span.bibitem-author-emph Tao Zhao
    | , Sheng Zhou, Yu Cheng, and Zhisheng Niu, "CONCERT: A Cloud-Based Architecture for Next-Generation Cellular Systems,"
    | 
    span.bibitem-journal IEEE Wireless Commun. Mag.,
    | vol. 21, no. 6, pp. 14–22, Dec. 2014.
    | 
    a(href="http://dx.doi.org/10.1109/MWC.2014.7000967") DOI
    | 
    a(href="http://arxiv.org/abs/1410.0113") arXiv
    | 
    a(href="http://network.ee.tsinghua.edu.cn/niulab/?p=2327") PDF
    button.btn.btn-default.btn-xs.bibbtn(type="button") BibTeX
  #bib_liu2014concert.bibtex.noshow
    pre.bib
      | @ARTICLE{liu2014concert,
      |   author = {Liu, Jingchu and Zhao, Tao and Zhou, Sheng and Cheng, Yu and Niu,
      |  Zhisheng},
      |   title = {{CONCERT}: A Cloud-Based Architecture for Next-Generation Cellular
      |  Systems},
      |   journal = IEEE_M_WC,
      |   year = {2014},
      |   volume = {21},
      |   pages = {14--22},
      |   number = {6},
      |   month = dec,
      |   doi = {10.1109/MWC.2014.7000967},
      | }
li
  #zhao2014edt.bibitem(data-reftype="InProceedings")
    span.bibitem-author-emph Tao Zhao
    | , Jian Wu, Sheng Zhou, and Zhisheng Niu, "Energy-Delay Tradeoffs of Virtual Base Stations With a Computational-Resource-Aware Energy Consumption Model," in
    | 
    span.bibitem-inproceedings Proc. 14th IEEE Int. Conf. Communication Systems (IEEE ICCS'14), Macau, China, Nov. 2014.
    | 
    a(href="http://dx.doi.org/10.1109/ICCS.2014.702475") DOI
    | 
    a(href="http://arxiv.org/abs/1407.2322") arXiv
    | 
    a(href="http://network.ee.tsinghua.edu.cn/niulab/?p=2252") PDF
    | 
    a(href="http://network.ee.tsinghua.edu.cn/niulab/wp-content/uploads/2014/12/iccs2014-zhao-slides.pdf") slides
    button.btn.btn-default.btn-xs.bibbtn(type="button") BibTeX
  #bib_zhao2014edt.bibtex.noshow
    pre.bib
      | @INPROCEEDINGS{zhao2014edt,
      |   author = {Tao Zhao and Jian Wu and Sheng Zhou and Zhisheng Niu},
      |   title = {Energy-Delay Tradeoffs of Virtual Base Stations With a Computational-Resource-Aware
      |  Energy Consumption Model},
      |   booktitle = {Proc. 14th IEEE Int. Conf. Communication Systems (IEEE ICCS'14)},
      |   year = {2014},
      |   address = {Macau, China},
      |   month = nov,
      |   pages = {26--30},
      |   doi = {10.1109/ICCS.2014.7024759},
      |   eprint = {1407.2322},
      | }
li
  #zhao2013software.bibitem(data-reftype="InProceedings")
    span.bibitem-author-emph Tao Zhao
    | , Pengkun Yang, Huimin Pan, Ruichen Deng, Sheng Zhou, and Zhisheng Niu, "Software Defined Radio Implementation of Signaling Splitting in Hyper-Cellular Network," in
    | 
    span.bibitem-inproceedings Proc. 2nd Workshop Software Radio Implementation Forum, in conjunction with ACM SIGCOMM 2013, Hong Kong, China, Aug. 2013, pp. 81–84.
    | 
    a(href="http://dx.doi.org/10.1145/2491246.2491258") DOI
    | 
    a(href="http://arxiv.org/abs/1312.0720") arXiv
    | 
    a(href="http://network.ee.tsinghua.edu.cn/niulab/?p=1960") PDF
    | 
    a(href="http://network.ee.tsinghua.edu.cn/niulab/wp-content/uploads/2014/12/srif-zhao-slides.pdf") slides
    button.btn.btn-default.btn-xs.bibbtn(type="button") BibTeX
  #bib_zhao2013software.bibtex.noshow
    pre.bib
      | @INPROCEEDINGS{zhao2013software,
      |   author = {Tao Zhao and Pengkun Yang and Huimin Pan and Ruichen Deng and Sheng
      |  Zhou and Zhisheng Niu},
      |   title = {{S}oftware {D}efined {R}adio {I}mplementation of {S}ignaling {S}plitting
      |  in {Hyper-Cellular} {N}etwork},
      |   booktitle = {Proc. 2nd Workshop Software Radio Implementation
      |  Forum, in conjunction with ACM SIGCOMM 2013},
      |   year = {2013},
      |   pages = {81--84},
      |   month = aug,
      |   doi = {10.1145/2491246.2491258},
      |   isbn = {978-1-4503-2181-5},
      |   keywords = {Signaling splitting; hyper-cellular network; OpenBTS},
      |   address = {Hong Kong, China},
      | }
li
  #zhao2012bthesis.bibitem(data-reftype="phdthesis")
    | 赵涛. 协作通信中预编码算法设计和实现[D]. 北京: 清华大学, 2012.
    | 
    a(href="zhao2012bthesis.pdf") PDF 