// vim: set et sw=2 ai:
extend layout
block content
  .jumbotron
    h1 欢迎来到 Alick 的个人主页！
    p 这里收录了 Alick 所使用的网络服务的个人页面链接。
    p
      a(href='https://github.com/alick/alick.me' class='btn btn-primary' role='button') View source code »
  section.surfing
    .sitegroup
      .sitegroupname 个人
      .sitelist
        a(href='http://blog.alick.me') 博客
        a(href='https://github.com/alick9188/mywiki/wiki') 维基
        a(href='http://www.flickr.com/photos/alick9188/') 相册
    .sitegroup
      .sitegroupname 社区
      .sitelist
        a(href="http://mirrors.tuna.tsinghua.edu.cn/") 开源镜像站
        a(href="https://fedoraproject.org/wiki/User:Alick") FP Wiki
    .sitegroup
      .sitegroupname 论坛
      .sitelist
        a(href="http://www.linuxdiyf.com/bbs") 红联 BBS
        a(href="http://www.newsmth.net/") 水木社区
    .sitegroup
      .sitegroupname 空间
      .sitelist
        a(href="http://passport.renren.com/PLogin.do") 人人网
        a(href="http://weibo.com/alickzhao") 新浪微博
        a(href="http://cloud.alick.me") 个人云
        a(href="https://twitter.com/") Twitter
        a(href="https://plus.google.com/") Google+
        a(href="https://www.newszeit.com/") 阅读器
    .sitegroup
      .sitegroupname 工具
      .sitelist
        a(href="http://www.ipv6bbs.com/wall.php") IPv6 电视
        a(href="http://www.ip138.com/ips8.asp") IP 查询
        a(href="http://www.poptool.net/enet/mp3_lrc/") 歌词
        a(href="http://viewdns.info/") DNS 查询
        a(href="http://xh.5156edu.com/conversion.html") 汉字转拼音
        a(href="http://xh.5156edu.com/jtof.php") 简繁转换
