// vim: set et sw=2 ai:
extend layout
block content
  .jumbotron
    h1 欢迎光临！
    p 这里链接了 Alick 在网络上发布与分享的各种内容。
  section.surfing
    .sitegroup
      .sitegroupname.label-primary 个人
      .sitelist
        a(href='https://wp-awesome.rhcloud.com/') 博客
        a(href='https://github.com/alick/mywiki/wiki') 维基
        a(href='http://www.flickr.com/photos/alick9188/') 相册
    .sitegroup
      .sitegroupname.label-primary 开源
      .sitelist
        a(href="https://fedoraproject.org/wiki/User:Alick") Fedora
        a(href='https://github.com/alick') GitHub
        a(href='https://addons.mozilla.org/en-US/firefox/user/alick/') AMO
    .sitegroup
      .sitegroupname.label-primary
        span(title='社交网站') SNS
      .sitelist
        a(href='https://plus.google.com/+AlickZhao/') Google+
        a(href='http://weibo.com/alickzhao') 微博
        a(href='https://twitter.com/alick9188') Twitter
    .sitegroup
      .sitegroupname.label-primary 生活
      .sitelist
        a(href='http://www.douban.com/people/alick9188/') 豆瓣
        a(href='http://www.imdb.com/user/ur62749555/') IMDb
    .sitegroup
      .sitegroupname.label-primary 问答
      .sitelist
        a(href='https://stackexchange.com/users/1194603/alick') StackExchange
        a(href='https://www.quora.com/Alick-Zhao') Quora
        a(href='http://www.zhihu.com/people/alickzhao') 知乎
    .sitegroup
      .sitegroupname.label-primary 科研
      .sitelist
        a(href='http://people.tamu.edu/~alick/') TAMU
        a(href='https://orcid.org/0000-0003-0395-9260') ORCID
        a(href='https://scholar.google.com/citations?user=XFntX24AAAAJ') Google Scholar
