// vim: set et sw=2 ai:
extend layout
block content
  p
    | 欢迎来到我的个人主页。我是赵涛 (Alick)，一名硕士研究生、Linux 爱好者、Fedora 社区贡献者，更多信息可见
    a(href='/about') 关于
    | 页面。上方导航菜单列出了我发布在网上的主要内容，敬请浏览。
  h2 新消息
  ul
    li 2015-10-05 Express 从 3.x 迁移到 4.x。
    li 2014-08-05 网站迁移到 OpenShift PaaS 平台，实质托管在 Amazon AWS。
