// vim: set et sw=2 ai:
extend layout
block content
  p
    | 欢迎来到我的个人主页。我是赵涛 (Alick)，一名硕士研究生、Linux 爱好者、Fedora 社区贡献者，更多信息可见
    a(href='/about') 关于
    | 页面。上方导航菜单列出了我发布在网上的主要内容，敬请浏览。
  h2 新消息
  ul
    li 2014-08-05 网站迁移到 OpenShift PaaS 平台，实质托管在 Amazon AWS。
    li 2013-09-08 长条图片做好了！
    li 2013-09-06 幻想把这个个人主页搞的好一些：上方应该放个长条图片；得支持多国语言至少得有英文版；侧边栏得多点东西；是不是得加个访问统计神马的……
