/*
 * Import nib
 */
/*
 * Store the main color and
 * background color as variables
 */
/* same as .label-primary */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
body {
  font-family: 'sans-serif';
  background-color: #faf9f0;
  color: #444;
  padding-top: 70px;
}
p {
  line-height: 1.5;
}
.container .jumbotron {
  background-color: #faf9f0;
  margin: 0;
  padding: 10px;
}
.surfing {
  margin: 10px;
}
.sitegroup {
  border: 1px solid #00f;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 3px;
  display: inline-block;
  max-width: 220px;
  min-width: 80px;
  vertical-align: top;
}
.sitegroup:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  background-color: #faf9f0;
}
.sitegroup a {
  background-color: #00c8c8;
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  margin: 3px 2px;
  padding: 2px;
}
.sitegroup a:hover {
  color: #ff0;
  text-decoration: none;
  background-color: #337ab7;
}
.sitegroupname {
  color: #fff;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  display: block;
}
.sitegroupname:before {
  content: "¶";
}
#timer {
  font-size: 0.9em;
  color: #008000;
}
.festival {
  color: #f00;
}
.centering {
  text-align: center;
}
/* vim: set sw=2 et ai: */
