/*
 * Import nib
 */
@import 'nib'

/*
 * Store the main color and
 * background color as variables
 */
header-color = #227ad1
nav-color = #b6d1e4
background-color = #faf9f0

body
  font-family 'sans-serif'
  background-color background-color
  color #444
  padding-top 70px

p
  line-height 1.5

.surfing
  margin 10px

.sitegroup
  border 1px solid blue
  border-radius 3px
  margin 3px
  display inline-block
  max-width 220px
  min-width 100px
  vertical-align top

.sitegroup:hover
  transform scale(1.1, 1.1)
  background-color background-color

.sitegroup a
  background-color #00c8c8
  color white
  border-radius 5px
  display inline-block
  margin 3px 2px
  padding 2px

.sitegroup a:hover
  color yellow
  font-weight bold

.sitegroupname
  color white
  background-color #337AB7
  border-radius 2px 2px 0 0
  display block
  font-size 90%

.sitegroupname:after
  content "¶"

#timer
  font-size 0.9em
  color green

.festival
  color red

.centering
  text-align center

/* vim: set sw=2 et ai: */
